/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "dm_css_grid";
@import "http://webfonts.ru/import/osans.css";
@import "http://webfonts.ru/import/lobster.css";

$color_1: #ffffff;
$color_2: #000000;
$color_3: #2e6293;
$color_4: #194772;
$color_5: #a7be81;
$color_6: #35532d;
$color_7: #d80000;
$color_8: #0099cc;
$color_9: #230922;

@mixin border_radius($left_top_corner, $right_top_corner, $right_bottom_corner, $left_bottom_corner) {
  -webkit-border-radius : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
  -moz-border-radius    : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
  border-radius         : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
}

@mixin box_shadow($offset_x, $offset_y, $blur, $tension, $color) {
  -webkit-box-shadow : $offset_x $offset_y $blur $tension $color;
  -moz-box-shadow    : $offset_x $offset_y $blur $tension $color;
  box-shadow         : $offset_x $offset_y $blur $tension $color;
}

@mixin inset_box_shadow($offset_x, $offset_y, $blur, $tension, $color) {
  -webkit-box-shadow : inset $offset_x $offset_y $blur $tension $color;
  -moz-box-shadow    : inset $offset_x $offset_y $blur $tension $color;
  box-shadow         : inset $offset_x $offset_y $blur $tension $color;
}

@mixin text_shadow($offset_x, $offset_y, $blur, $color) {
  text-shadow: $offset_x $offset_y $blur $colo
}

@mixin list_style_none {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slide {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 768px;
  position: relative;
}
.button {
  position: relative;
  background: $color_4;
  @include border_radius(10px, 10px, 10px, 10px);
  font-family: 'Lobster';
  color: $color_1;
  text-align: center;
  padding: 1.2% 0 1.2% 0;
  cursor: hand;
  .bg {
    position: absolute;
    background: $color_3;
    top: 4%;
    width: 100%;
    height: 100%;
    @include border_radius(10px, 10px, 10px, 10px);
    z-index: -1;
  }
  &:hover {
    background: $color_3;
    .bg {
      background: $color_4;
    }
  }
}
.header_label {
  text-align: center;
  font-size: 2em;/*2vw;*/
  font-family: "Lobster";
  color: $color_3;
  margin-top: 7%;
}
.header_label_2 {
  z-index: 100;
  position: absolute;
  left: 44%;
  font-size: 2em;
  top: 10%;
  width: 12%;
  text-align: center;
  font-family: "Lobster";
  color: #2e6293;
}
.button_2 {
  border: 1px solid $color_1;
  @include border_radius(10px, 10px, 10px, 10px);
  padding: 5px 10px 5px 10px;
  font-family: "Open Sans";
  text-decoration: none;
  color: $color_2;
  z-index: 5;
  display: inline-block;
}
.text {
  font-family: "Open Sans Condensed";
  font-size: 22px;
  color: $color_2;
}
.wave_4 {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}
b {
  font-weight: bold;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: $color_1;
  z-index: 2000;
  .button {
    padding: 0;
    display: block;
    margin: 6px 0 0 0;
    line-height: 37px;
  }
  .logo {
    width: 128px;
    height: 38px;
    background: url(../img/logo_small.png) no-repeat;
    margin: 8px 10px 0 auto;
    display: block;
  }
  a {
    font-family: "Open Sans";
    text-decoration: none;
    color: $color_2;
    font-size: 16px;
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    li {
      display: table-cell;
      padding: 0 15px 0 0;
      a {
        font-size: 11px;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .contacts {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    .icon {
      position: relative;
      background: url(../img/phone.png) no-repeat;
      width: 15px;
      height: 15px;
      display: inline-block;
      top: 2px;
    }
    a {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.main_slide {
  .main_bg {
    width: 100%;
    height: 100%;
    background: url(../img/bg_1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }
  img {
    position: absolute;
    height: auto;
    z-index: 1;
  }
  .header {
    top: 10%;
    left: 13%;
    width: 43%;
  }
  .logo {
    top: 15%;
    left: 28.5%;
    width: 35%;
  }
  .address {
    top: 19%;
    right: 13%;
    width: 19%;
  }
  .data {
    width: 11%;
    top: 19%;
    left: 13%;
  }
  .light {
    width: 73%;
    bottom: 0;
    left: 11%;
    z-index: 0;
  }
  .persons {
    width: 22%;
    left: 13%;
    top: 39%;
  }
  .age {
    width: 4%;
    top: 68%;
    right: 18%;
  }
  .microphone {
    width: 17%;
    bottom: 8%;
    left: 42%;
  }
  .persons_2 {
    width: 22%;
    right: 13%;
    top: 39%;
  }
  .cloud {
    width: 100%;
    bottom: 0;
    z-index: 2;
  }
  .down_arrow {
    width: 7%;
    right: 35%;
    bottom: 11%;
    z-index: 2;
  }
  .up_arrow {
    width: 7%;
    left: 30%;
    bottom: 10%;
    z-index: 2;
  }
  .button {
    position: absolute;
    bottom: 9%;
    left: 39%;
    width: 17%;
    height: auto;
    font-size: 2vw;
    z-index: 3;
  }
}

.programm_slide {
  .programm_bg {
    width: 100%;
    height: 100%;
    background: url(../img/bg_2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }
  .button_2 {
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 1000;
    .icon {
      position: relative;
      width: 9px;
      height: 15px;
      background: url(../img/arrow_1.png) no-repeat;
      display: inline-block;
      top: 2px;
      right: 2px;
    }
  }
  .header_label {
    margin-top: 9%;
  }
  img {
    position: absolute;
    height: auto;
    z-index: 1;
  }
  .wave {
    top: 0;
    left: 0;
    width: 100%;
  }
  .cloud_1 {
    top: 12%;
    left: 16%;
    width: 14%;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .cloud_2 {
    top: 31%;
    left: 24%;
    width: 9%;
    z-index: 3;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .cloud_3 {
    bottom: 45%;
    right: 21%;
    width: 12%;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .ballon_1 {
    top: 56%;
    right: 28%;
    width: 11%;
  }
  .ballon_2 {
    top: 29%;
    left: 27%;
    width: 14%;
    z-index: 2;
  }
  .ballon_3 {
    top: 26%;
    left: 37%;
    width: 23%;
  }
  .plane {
    position: absolute;
    top: 22%;
    right: 20%;
    width: 22%;
  }
  .path_1 {
    top: 9%;
    left: 36%;
    height: 108%;
    z-index: 0;
  }
  .path_2 {
    top: 8.5%;
    left: 36%;
    width: 6%;
  }
  .path_3 {
    top: 2.5%;
    left: 58%;
    height: 12%;
  }
}

.additional_slide {
  .addtitional_bg {
    width: 100%;
    height: 100%;
    background: url(../img/bg_3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }
  img {
    position: absolute;
    height: auto;
    z-index: 1;
  }
  .wave_2 {
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .path_5 {
    top: 8%;
    left: 33%;
    height: 102%;
    position: absolute;
    .path_inner {
      position: relative;
      height: 100%;
      width: auto;
    }
  }
  .cloud_4 {
    top: 7%;
    left: -10%;
    width: 33%;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .cloud_5 {
    top: 15%;
    left: 53%;
    width: 21%;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .cloud_6 {
    top: 28%;
    left: 1%;
    width: 22%;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .cloud_7 {
    top: 33%;
    left: 47%;
    width: 34%;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .cloud_8 {
    bottom: 54%;
    left: -8%;
    width: 34%;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .cloud_9 {
    bottom: 47%;
    right: 16%;
    width: 24%;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .cloud_10 {
    bottom: 34%;
    left: 35%;
    width: 24%;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .ball_1 {
    position: absolute;
    top: 17%;
    right: 23%;
    width: 7%;
  }
  .ball_2 {
    position: absolute;
    bottom: 5%;
    left: 20%;
    width: 6%;
  }
  .ball_3 {
    position: absolute;
    bottom: 44%;
    right: 19%;
    width: 5%;
  }
  .ballon_4 {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 7%;
  }
}

.map_slide {
  background: url(../img/pattern.jpg) repeat;
  position: relative;
  .header_label {
    color: $color_2;
  }
  img {
    position: absolute;
    height: auto;
    z-index: 1;
  }
  .button_2 {
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 1000;
    .icon {
      position: relative;
      width: 14px;
      height: 7px;
      background: url(../img/arrow_2.png) no-repeat;
      display: inline-block;
      top: -1px;
      left: 4px;
    }
  }
  .map {
    width: 64%;
    left: 18%;
    top: 16%;
    position: absolute;
    img {
      width: 100%;
      height: auto;
      position: relative;
    }
    div {
      position: absolute;
      width: 3%;
    }
    .number {
      display: block;

    }
    .item {
      display: none;
      margin: 0 auto;
      width: 185%;
    }
    .first {
      bottom: 20%;
      right: 54%;
    }
    .second {
      bottom: 20%;
      right: 44%;
      .item {
        width: 200%;
      }
    }
    .third {
      bottom: 40%;
      right: 49%;
      .item {
        width: 540%;
      }
    }
    .fourth {
      top: 25%;
      left: 46%;
    }
    .fifth {
      top: 15%;
      left: 36%;
      .item {
        width: 540%;
      }
    }
    .sixth {
      top: 12%;
      left: 19%;
      .item {
        width: 540%;
      }
    }
    .seventh {
      top: 31%;
      left: 33%;
      .item {
        width: 550%;
      }
    }
    .eighth {
      top: 33%;
      left: 52%;
      .item {
        width: 320%;
      }
    }
    .ninth {
      top: 41%;
      right: 40%;
      .item {
        width: 560%;
      }
    }
    .tenth {
      top: 14%;
      right: 9%;
      .item {
        width: 500%;
      }
    }
    .eleventh {
      top: 33%;
      right: 12%;
    }
    .twelfth {
      bottom: 54%;
      left: 5%;
    }

  }
  .wave_3 {
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .map_table {
    position: absolute;
    right: 15%;
    z-index: 10;
    bottom: 10%;
    .table_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: $color_2;
      opacity: 0.5;
    }
    table {
      margin: 10px;
      color: $color_1;
      z-index: 10;
      position: relative;
      td {
        padding: 5px 10px 5px 10px;
        font-family: "Open Sans";
        font-size: 14px;
        cursor: hand;
        &.number {
          &:hover {
            transition: all 0.5s;
            background: $color_1;
            color: $color_2;
          }
          &.active {
            background: $color_1;
            color: $color_2;
          }
        }
      }
    }
  }
}

.arrow_3 {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: url(../img/arrow_3.png) no-repeat;
  width: 87px;
  height: 106px;
  display: block;
  z-index: 1000;
}

.slider_switcher {
  padding: 0;
  margin: 0;
  list-style: none;
  position: fixed;
  top: 37%;
  left: 20px;
  z-index: 1000;
  li {
    a {
      margin: 10px 0 0 0;
      width: 10px;
      height: 10px;
      display: block;
      @include border_radius(5px, 5px, 5px, 5px);
      background: grey;
      opacity: 0.5;
      &.active, &:hover {
        opacity: 1;
      }
    }
  }
}

.rules_slide {
  background: url(../img/pattern_2.png) repeat;
  .menu {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    text-align: center;
    li {
      cursor: hand;
      display: inline-block;
      padding: 5px 10px 5px 10px;
      font-family: "Open Sans Condensed";
      font-style: italic;
      font-size: 22px;
      color: $color_6;
      &.active {
        border: 1px solid $color_6;
        padding: 4px 9px 4px 9px;
        @include border_radius(10px, 10px, 10px, 10px);
        &.attention {
          border: 1px solid $color_7;
        }
      }
      &:hover {
        border: 1px solid $color_6;
        padding: 4px 9px 4px 9px;
        @include border_radius(10px, 10px, 10px, 10px);
      }
      &.attention {
        color: $color_7;
        &:hover {
          border: 1px solid $color_7;
          padding: 4px 9px 4px 9px;
          @include border_radius(10px, 10px, 10px, 10px);
        }
      }
    }
  }
  .articles {
    padding: 0;
    margin: 40px 0 0 0;
    li {
      font-family: "Open Sans Condensed";
      font-size: 22px;
      text-align: center;
      color: $color_2;
      line-height: 26px;
      display: none;
    }
  }
}

.timetable_slide {
  .text {
    margin: 40px 0 0 0;
    font-family: "Open Sans Condensed";
    font-size: 18px;
    text-align: center;
    color: $color_2;
    line-height: 150%;
  }
  .wave_5 {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
  }
}

.children_slide {
  background: url(../img/pattern_2.png) repeat;
  .text {
    margin: 40px 0 0 0;
    font-family: "Open Sans Condensed";
    font-size: 22px;
    text-align: center;
    color: $color_2;
    line-height: 150%;
  }
  .wave_5 {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
  }
}

.artist_slide {
  background-color: #1d0140;
  .header_label {
    color: $color_1;
  }
  .artist_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 70%;
    height: 72%;
    left: 15%;
    top: 15%;
    position: absolute;
    li {
      width: 33.33333334%;
      height: 50%;
      padding: 15px 15px 0 15px;
      margin: 0 0 15px 0;
      box-sizing: border-box;
      float: left;
      overflow: hidden;
      cursor: hand;
      position: relative;
      transition: all 0.5s;
      .about {
        font-family: "Open Sans Condensed";
        font-size: 22px;
        font-style: italic;
        color: $color_1;
        top: 45%;
        left: 0;
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 0 15px 0 15px;
        box-sizing: border-box;
        a {
          color: $color_8;
          display: block;
        }
      }
      &:hover {
        transition: all 0.5s;
        padding: 0;
        .artist_bg {
          transition: all 0.5s;
          opacity: 0;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
      .artist_bg {
        transition: all 0.5s;
        background-color: $color_9;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .cnt {
        width: auto;
        height: auto;
        position: relative;
      }
    }
  }
  .wave_6 {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
  }
}

.contacts_slide {
  background: url(../img/pattern_2.png) repeat;
  .text {
    margin-top: 15px;
    font-size: 18px;
  }
  .contact_list {
    margin: 10px 0 10px 0;
    li {
      margin: 0 0 10px 0;
      line-height: 22px;
      .place {
        color: $color_8;
        text-decoration: underline;
      }
    }
  }
  .info {
    font-size: 22px;
    .yandex_map {
      width: 100%;
      height: 50%;
      margin-top: 15px;
      background: grey;
    }
  }
}

.smi_slide {
  background: url(../img/pattern_2.png) repeat;
  .header_label {
    color: $color_7;
  }
  .text {
    margin: 40px 0 0 0;
    font-family: "Open Sans Condensed";
    font-size: 17px;
    color: $color_2;
    line-height: 150%;
  }
}


.cloud_animation {
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: shake-1;
  animation-name: shake-1;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;

}

@-webkit-keyframes shake-1 {
  0%, 100% {-webkit-transform: translate(0,0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translate(-8px, 8px);}
  20%, 40%, 60%, 80% {-webkit-transform: translate(8px, -8px);}
}
@keyframes shake-1 {
  0%, 100% {transform: translate(0,0);}
  10%, 50%, 90% {-webkit-transform: translate(-8px, 8px);}
  30%, 70% {-webkit-transform: translate(8px, 8px);}
  20%, 40%, 60%, 80% {-webkit-transform: translate(8px, -8px);}
}

.logo_2 {
  position: absolute;
  left: 16%;
  bottom: 25%;
  width: 14%;
}

.copyright {
  width: 100px;
  height: auto;
  position: absolute;
  bottom: 5%;
  right: 10%;
}