/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "dm_css_grid";
@import "http://webfonts.ru/import/osans.css";
@import "http://webfonts.ru/import/lobster.css";

$color_1: #ffffff;
$color_2: #000000;
$color_3: #2e6293;
$color_4: #194772;
$color_5: #a7be81;
$color_6: #35532d;
$color_7: #d80000;
$color_8: #0099cc;
$color_9: #230922;
$color_10: #94cdf8;

@mixin border_radius($left_top_corner, $right_top_corner, $right_bottom_corner, $left_bottom_corner) {
  -webkit-border-radius : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
  -moz-border-radius    : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
  border-radius         : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
}

@mixin box_shadow($offset_x, $offset_y, $blur, $tension, $color) {
  -webkit-box-shadow : $offset_x $offset_y $blur $tension $color;
  -moz-box-shadow    : $offset_x $offset_y $blur $tension $color;
  box-shadow         : $offset_x $offset_y $blur $tension $color;
}

@mixin inset_box_shadow($offset_x, $offset_y, $blur, $tension, $color) {
  -webkit-box-shadow : inset $offset_x $offset_y $blur $tension $color;
  -moz-box-shadow    : inset $offset_x $offset_y $blur $tension $color;
  box-shadow         : inset $offset_x $offset_y $blur $tension $color;
}

@mixin text_shadow($offset_x, $offset_y, $blur, $color) {
  text-shadow: $offset_x $offset_y $blur $colo
}

.g_row {
  width: 100% !important;
  .g_col_d_12, .g_col_m_12 {
    padding-right: 0;
    padding-left: 0;
  }
}
.button {
  position: absolute;
  bottom: 15%;
  background: $color_4;
  @include border_radius(10px, 10px, 10px, 10px);
  font-family: 'Lobster';
  color: $color_1;
  text-align: center;
  padding: 4% 0 4% 0;
  cursor: hand;
  width: 50%;
  left: 25%;
  font-size: 20px;
  .bg {
    position: absolute;
    background: $color_3;
    top: 4%;
    width: 100%;
    height: 100%;
    @include border_radius(10px, 10px, 10px, 10px);
    z-index: -1;
  }
  &:hover {
    background: $color_3;
    .bg {
      background: $color_4;
    }
  }
}
.menu_bg {
  background: $color_4;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 95;
  display: none;
}
.slider_anchor {
  position: absolute;
  top: -50px;
}
.menu_list {
  position: fixed;
  top: 50px;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 100;
  display: none;
  li {
    display: block;
    outline: 1px solid $color_8;
    padding: 15px;
    background-color: $color_4;
    a {
      text-decoration: none;
      color: $color_1;
      width: 200px;
      font-family: "Open Sans Condensed";

    }
  }
}
.header_label {
  position: absolute;
  top: 0;
  width: 100%;
  .content {
    font-family: "Open Sans Condensed";
    color: $color_3;
    font-size: 24px;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: $color_1;
    text-align: center;
  }
  .wave {
    background: url(../img/mobile/wave.png) no-repeat;
    width: 100%;
    height: 27px;
    background-size: cover;
  }
}

body {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: white;
  height: 50px;
  .menu {
    width: 50px;
    height: 50px;
    background: url(../img/mobile/menu.png) no-repeat;
  }
  .contacts {
    padding: 18px 0 0 0;
    position: relative;
    .icon {
      position: relative;
      background: url(../img/phone.png) no-repeat;
      width: 15px;
      height: 15px;
      display: inline-block;
      top: 2px;
    }
    a {
      font-size: 16px;
      font-weight: bold;
      font-family: "Open Sans";
      color: $color_2;
      text-decoration: none;
    }
  }
  .logo {
    width: 128px;
    height: 38px;
    background: url(../img/logo_small.png) no-repeat;
    margin: 8px 10px 0 auto;
    display: block;
  }
}

b {
  font-weight: bold;
}

.begin_slide {
  z-index: 2;
  img {
    width: 100%;height: auto;
  }
  .down_arrow {
    width: 19%;
    right: 3%;
    bottom: 11%;
    z-index: 2;
    position: absolute;
  }
  .up_arrow {
    position: absolute;
    width: 19%;
    left: 3%;
    bottom: 15%;
    z-index: 2;
  }
}

.programm_slide {
  position: relative;
  height: 1200px;
  overflow: hidden;
  background-color: $color_10;
  img {
    position: absolute;
  }
  .cloud_11 {
    width: 60%;
    left: 20%;
    z-index: 5;
    top: 0;
  }
  .cloud_1 {
    width: 70%;
    left: 15%;
    z-index: 3;
    top: 52px;
  }
  .cloud_2 {
    width: 60%;
    z-index: 3;
    left: 30%;
    top: 143px;
  }
  .ballon_2 {
    width: 60%;
    z-index: 2;
    left: 12%;
    top: 175px;
  }
  .ballon_3 {
    width: 112%;
    z-index: 2;
    left: 19%;
    top: 385px;
  }
  .cloud_3 {
    position: relative;
    width: 60%;
    z-index: 3;
    left: 20%;
    bottom: 285px;
  }
  .ballon_1 {
    width: 45%;
    z-index: 2;
    left: 5%;
    bottom: 0;
  }
  .cloud_bg {
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../img/mobile/cloud_bg.png) repeat-y;
    background-size: cover;
  }
}

.additional_slide {
  position: relative;
  padding-top: 60px;
  .cloud_bg {
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url(../img/mobile/cloud_bg.png) repeat-y;
    background-size: cover;
    position: absolute;
    top: 0;
  }
  .header_label {
    z-index: 1;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
    position: relative;
    margin-top: 15px;
    padding-bottom: 25px;
    li {
      width: 100%;
      padding: 15px 0 15px 0;
      text-align: center;
      font-family: "Open Sans Condensed";
      font-size: 20px;
      font-style: italic;
      color: $color_2;
      position: relative;
      .wave_10 {
        position: absolute;
        width: 75px;
        height: 11px;
        background: url(../img/mobile/wave_10.png) no-repeat;
      }
      .left {
        left: 20px;
        top: 25px;
      }
      .right {
        right: 20px;
        top: 25px;
      }
    }
  }
}

.map_slide {
  padding-top: 50px;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
}

.rules_slide {
  padding-top: 60px;
  position: relative;
  .text_switcher {
    padding: 15px 25px 15px 25px;
    text-align: center;
    li {
      padding: 10px 0 10px 0;
      position: relative;
      .label {
        font-family: "Open Sans Condensed";
        font-size: 24px;
        font-style: italic;
        text-decoration: underline;
        color: $color_8;
        &.attention {
          color: $color_7;
        }
      }
      .text {
        font-family: "Open Sans Condensed";
        font-size: 20px;
        padding: 15px 0 15px 0;
        color: $color_2;
        text-align:left;
        line-height: 24px;
        display: none;
      }
      &.active {
        .label {
          color: $color_2;
          text-decoration: none;
        }
        .text {
          display: block;
        }
      }
    }
  }
}

.persons_slide {
  padding-top: 45px;
  position: relative;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      display: block;
      position: relative;
      .text {
        position: absolute;
        font-family: "Open Sans Condensed";
        font-style: italic;
        width: 100%;
        text-align: center;
        top: 40%;
        .label {
          font-size: 26px;
          color: $color_1;
        }
        .link {
          font-size: 20px;
          color: $color_8;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.text_slide {
  padding-top: 60px;
  position: relative;
  .text {
    padding: 15px 25px 15px 25px;
    font-family: "Open Sans Condensed";
    font-size: 20px;
    line-height: 24px;
    color: $color_2;
    .link {
      color: $color_8;
    }
    .contacts {
      padding: 10px 0 0 0;
      font-size: 18px;
      line-height: 28px;
      .place {
        color: $color_8;
        text-decoration: underline;
      }
    }
  }
}

.copyright {
  width: 100px;
  height: auto;
  margin: 0 0 10px 10px;
}