/* line 4, ../sass/dm_css_grid.scss */
.g_row:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

/* line 26, ../sass/dm_css_grid.scss */
.section {
  width: 100%;
}

/* line 31, ../sass/dm_css_grid.scss */
.g_row {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}
/* line 45, ../sass/dm_css_grid.scss */
.g_row [class*=g_col_] {
  float: left;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
  min-height: 1px;
}

@media screen and (min-width: 1024px) {
  /* line 57, ../sass/dm_css_grid.scss */
  [class*=g_col_] {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 62, ../sass/dm_css_grid.scss */
  .g_col_d_1 {
    width: 8.33333333%;
  }

  /* line 66, ../sass/dm_css_grid.scss */
  .g_col_d_2 {
    width: 16.66666667%;
  }

  /* line 70, ../sass/dm_css_grid.scss */
  .g_col_d_3 {
    width: 25%;
  }

  /* line 74, ../sass/dm_css_grid.scss */
  .g_col_d_4 {
    width: 33.33333333%;
  }

  /* line 78, ../sass/dm_css_grid.scss */
  .g_col_d_5 {
    width: 41.66666667%;
  }

  /* line 82, ../sass/dm_css_grid.scss */
  .g_col_d_6 {
    width: 50%;
  }

  /* line 86, ../sass/dm_css_grid.scss */
  .g_col_d_7 {
    width: 58.33333333%;
  }

  /* line 90, ../sass/dm_css_grid.scss */
  .g_col_d_8 {
    width: 66.66666667%;
  }

  /* line 94, ../sass/dm_css_grid.scss */
  .g_col_d_9 {
    width: 75%;
  }

  /* line 98, ../sass/dm_css_grid.scss */
  .g_col_d_10 {
    width: 83.33333333%;
  }

  /* line 102, ../sass/dm_css_grid.scss */
  .g_col_d_11 {
    width: 91.66666667%;
  }

  /* line 106, ../sass/dm_css_grid.scss */
  .g_col_d_12 {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 115, ../sass/dm_css_grid.scss */
  [class*=g_col_] {
    padding-left: 4px;
    padding-right: 4px;
  }

  /* line 120, ../sass/dm_css_grid.scss */
  .g_col_m_1 {
    width: 8.33333333%;
  }

  /* line 124, ../sass/dm_css_grid.scss */
  .g_col_m_2 {
    width: 16.66666667%;
  }

  /* line 128, ../sass/dm_css_grid.scss */
  .g_col_m_3 {
    width: 25%;
  }

  /* line 132, ../sass/dm_css_grid.scss */
  .g_col_m_4 {
    width: 33.33333333%;
  }

  /* line 136, ../sass/dm_css_grid.scss */
  .g_col_m_5 {
    width: 41.66666667%;
  }

  /* line 140, ../sass/dm_css_grid.scss */
  .g_col_m_6 {
    width: 50%;
  }

  /* line 144, ../sass/dm_css_grid.scss */
  .g_col_m_7 {
    width: 58.33333333%;
  }

  /* line 148, ../sass/dm_css_grid.scss */
  .g_col_m_8 {
    width: 66.66666667%;
  }

  /* line 152, ../sass/dm_css_grid.scss */
  .g_col_m_9 {
    width: 75%;
  }

  /* line 156, ../sass/dm_css_grid.scss */
  .g_col_m_10 {
    width: 83.33333333%;
  }

  /* line 160, ../sass/dm_css_grid.scss */
  .g_col_m_11 {
    width: 91.66666667%;
  }

  /* line 164, ../sass/dm_css_grid.scss */
  .g_col_m_12 {
    width: 100%;
  }
}
