/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "http://webfonts.ru/import/osans.css";
@import "http://webfonts.ru/import/lobster.css";
/* line 5, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/dm_css_grid.scss */
.g_row:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

/* line 26, ../sass/dm_css_grid.scss */
.section {
  width: 100%;
}

/* line 31, ../sass/dm_css_grid.scss */
.g_row {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}
/* line 45, ../sass/dm_css_grid.scss */
.g_row [class*=g_col_] {
  float: left;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
  min-height: 1px;
}

@media screen and (min-width: 1024px) {
  /* line 57, ../sass/dm_css_grid.scss */
  [class*=g_col_] {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 62, ../sass/dm_css_grid.scss */
  .g_col_d_1 {
    width: 8.33333333%;
  }

  /* line 66, ../sass/dm_css_grid.scss */
  .g_col_d_2 {
    width: 16.66666667%;
  }

  /* line 70, ../sass/dm_css_grid.scss */
  .g_col_d_3 {
    width: 25%;
  }

  /* line 74, ../sass/dm_css_grid.scss */
  .g_col_d_4 {
    width: 33.33333333%;
  }

  /* line 78, ../sass/dm_css_grid.scss */
  .g_col_d_5 {
    width: 41.66666667%;
  }

  /* line 82, ../sass/dm_css_grid.scss */
  .g_col_d_6 {
    width: 50%;
  }

  /* line 86, ../sass/dm_css_grid.scss */
  .g_col_d_7 {
    width: 58.33333333%;
  }

  /* line 90, ../sass/dm_css_grid.scss */
  .g_col_d_8 {
    width: 66.66666667%;
  }

  /* line 94, ../sass/dm_css_grid.scss */
  .g_col_d_9 {
    width: 75%;
  }

  /* line 98, ../sass/dm_css_grid.scss */
  .g_col_d_10 {
    width: 83.33333333%;
  }

  /* line 102, ../sass/dm_css_grid.scss */
  .g_col_d_11 {
    width: 91.66666667%;
  }

  /* line 106, ../sass/dm_css_grid.scss */
  .g_col_d_12 {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 115, ../sass/dm_css_grid.scss */
  [class*=g_col_] {
    padding-left: 4px;
    padding-right: 4px;
  }

  /* line 120, ../sass/dm_css_grid.scss */
  .g_col_m_1 {
    width: 8.33333333%;
  }

  /* line 124, ../sass/dm_css_grid.scss */
  .g_col_m_2 {
    width: 16.66666667%;
  }

  /* line 128, ../sass/dm_css_grid.scss */
  .g_col_m_3 {
    width: 25%;
  }

  /* line 132, ../sass/dm_css_grid.scss */
  .g_col_m_4 {
    width: 33.33333333%;
  }

  /* line 136, ../sass/dm_css_grid.scss */
  .g_col_m_5 {
    width: 41.66666667%;
  }

  /* line 140, ../sass/dm_css_grid.scss */
  .g_col_m_6 {
    width: 50%;
  }

  /* line 144, ../sass/dm_css_grid.scss */
  .g_col_m_7 {
    width: 58.33333333%;
  }

  /* line 148, ../sass/dm_css_grid.scss */
  .g_col_m_8 {
    width: 66.66666667%;
  }

  /* line 152, ../sass/dm_css_grid.scss */
  .g_col_m_9 {
    width: 75%;
  }

  /* line 156, ../sass/dm_css_grid.scss */
  .g_col_m_10 {
    width: 83.33333333%;
  }

  /* line 160, ../sass/dm_css_grid.scss */
  .g_col_m_11 {
    width: 91.66666667%;
  }

  /* line 164, ../sass/dm_css_grid.scss */
  .g_col_m_12 {
    width: 100%;
  }
}
/* line 49, ../sass/main.scss */
.slide {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 768px;
  position: relative;
}

/* line 56, ../sass/main.scss */
.button {
  position: relative;
  background: #194772;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Lobster';
  color: #ffffff;
  text-align: center;
  padding: 1.2% 0 1.2% 0;
  cursor: hand;
}
/* line 65, ../sass/main.scss */
.button .bg {
  position: absolute;
  background: #2e6293;
  top: 4%;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  z-index: -1;
}
/* line 74, ../sass/main.scss */
.button:hover {
  background: #2e6293;
}
/* line 76, ../sass/main.scss */
.button:hover .bg {
  background: #194772;
}

/* line 81, ../sass/main.scss */
.header_label {
  text-align: center;
  font-size: 2em;
  /*2vw;*/
  font-family: "Lobster";
  color: #2e6293;
  margin-top: 7%;
}

/* line 88, ../sass/main.scss */
.header_label_2 {
  z-index: 100;
  position: absolute;
  left: 44%;
  font-size: 2em;
  top: 10%;
  width: 12%;
  text-align: center;
  font-family: "Lobster";
  color: #2e6293;
}

/* line 99, ../sass/main.scss */
.button_2 {
  border: 1px solid #ffffff;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 5px 10px 5px 10px;
  font-family: "Open Sans";
  text-decoration: none;
  color: #000000;
  z-index: 5;
  display: inline-block;
}

/* line 109, ../sass/main.scss */
.text {
  font-family: "Open Sans Condensed";
  font-size: 22px;
  color: #000000;
}

/* line 114, ../sass/main.scss */
.wave_4 {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* line 120, ../sass/main.scss */
b {
  font-weight: bold;
}

/* line 124, ../sass/main.scss */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #ffffff;
  z-index: 2000;
}
/* line 133, ../sass/main.scss */
header .button {
  padding: 0;
  display: block;
  margin: 6px 0 0 0;
  line-height: 37px;
}
/* line 139, ../sass/main.scss */
header .logo {
  width: 128px;
  height: 38px;
  background: url(../img/logo_small.png) no-repeat;
  margin: 8px 10px 0 auto;
  display: block;
}
/* line 146, ../sass/main.scss */
header a {
  font-family: "Open Sans";
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
/* line 152, ../sass/main.scss */
header .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
/* line 157, ../sass/main.scss */
header .menu li {
  display: table-cell;
  padding: 0 15px 0 0;
}
/* line 160, ../sass/main.scss */
header .menu li a {
  font-size: 11px;
  text-transform: uppercase;
}
/* line 163, ../sass/main.scss */
header .menu li a:hover {
  text-decoration: underline;
}
/* line 169, ../sass/main.scss */
header .contacts {
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
}
/* line 173, ../sass/main.scss */
header .contacts .icon {
  position: relative;
  background: url(../img/phone.png) no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  top: 2px;
}
/* line 181, ../sass/main.scss */
header .contacts a {
  font-size: 16px;
  font-weight: bold;
}

/* line 189, ../sass/main.scss */
.main_slide .main_bg {
  width: 100%;
  height: 100%;
  background: url(../img/bg_1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
/* line 198, ../sass/main.scss */
.main_slide img {
  position: absolute;
  height: auto;
  z-index: 1;
}
/* line 203, ../sass/main.scss */
.main_slide .header {
  top: 10%;
  left: 13%;
  width: 43%;
}
/* line 208, ../sass/main.scss */
.main_slide .logo {
  top: 15%;
  left: 28.5%;
  width: 35%;
}
/* line 213, ../sass/main.scss */
.main_slide .address {
  top: 19%;
  right: 13%;
  width: 19%;
}
/* line 218, ../sass/main.scss */
.main_slide .data {
  width: 11%;
  top: 19%;
  left: 13%;
}
/* line 223, ../sass/main.scss */
.main_slide .light {
  width: 73%;
  bottom: 0;
  left: 11%;
  z-index: 0;
}
/* line 229, ../sass/main.scss */
.main_slide .persons {
  width: 22%;
  left: 13%;
  top: 39%;
}
/* line 234, ../sass/main.scss */
.main_slide .age {
  width: 4%;
  top: 68%;
  right: 18%;
}
/* line 239, ../sass/main.scss */
.main_slide .microphone {
  width: 17%;
  bottom: 8%;
  left: 42%;
}
/* line 244, ../sass/main.scss */
.main_slide .persons_2 {
  width: 22%;
  right: 13%;
  top: 39%;
}
/* line 249, ../sass/main.scss */
.main_slide .cloud {
  width: 100%;
  bottom: 0;
  z-index: 2;
}
/* line 254, ../sass/main.scss */
.main_slide .down_arrow {
  width: 7%;
  right: 35%;
  bottom: 11%;
  z-index: 2;
}
/* line 260, ../sass/main.scss */
.main_slide .up_arrow {
  width: 7%;
  left: 30%;
  bottom: 10%;
  z-index: 2;
}
/* line 266, ../sass/main.scss */
.main_slide .button {
  position: absolute;
  bottom: 9%;
  left: 39%;
  width: 17%;
  height: auto;
  font-size: 2vw;
  z-index: 3;
}

/* line 278, ../sass/main.scss */
.programm_slide .programm_bg {
  width: 100%;
  height: 100%;
  background: url(../img/bg_2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
/* line 287, ../sass/main.scss */
.programm_slide .button_2 {
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: 1000;
}
/* line 292, ../sass/main.scss */
.programm_slide .button_2 .icon {
  position: relative;
  width: 9px;
  height: 15px;
  background: url(../img/arrow_1.png) no-repeat;
  display: inline-block;
  top: 2px;
  right: 2px;
}
/* line 302, ../sass/main.scss */
.programm_slide .header_label {
  margin-top: 9%;
}
/* line 305, ../sass/main.scss */
.programm_slide img {
  position: absolute;
  height: auto;
  z-index: 1;
}
/* line 310, ../sass/main.scss */
.programm_slide .wave {
  top: 0;
  left: 0;
  width: 100%;
}
/* line 315, ../sass/main.scss */
.programm_slide .cloud_1 {
  top: 12%;
  left: 16%;
  width: 14%;
  position: absolute;
}
/* line 320, ../sass/main.scss */
.programm_slide .cloud_1 img {
  width: 100%;
  height: auto;
}
/* line 325, ../sass/main.scss */
.programm_slide .cloud_2 {
  top: 31%;
  left: 24%;
  width: 9%;
  z-index: 3;
  position: absolute;
}
/* line 331, ../sass/main.scss */
.programm_slide .cloud_2 img {
  width: 100%;
  height: auto;
}
/* line 336, ../sass/main.scss */
.programm_slide .cloud_3 {
  bottom: 45%;
  right: 21%;
  width: 12%;
  position: absolute;
}
/* line 341, ../sass/main.scss */
.programm_slide .cloud_3 img {
  width: 100%;
  height: auto;
}
/* line 346, ../sass/main.scss */
.programm_slide .ballon_1 {
  top: 56%;
  right: 28%;
  width: 11%;
}
/* line 351, ../sass/main.scss */
.programm_slide .ballon_2 {
  top: 29%;
  left: 27%;
  width: 14%;
  z-index: 2;
}
/* line 357, ../sass/main.scss */
.programm_slide .ballon_3 {
  top: 26%;
  left: 37%;
  width: 23%;
}
/* line 362, ../sass/main.scss */
.programm_slide .plane {
  position: absolute;
  top: 22%;
  right: 20%;
  width: 22%;
}
/* line 368, ../sass/main.scss */
.programm_slide .path_1 {
  top: 9%;
  left: 36%;
  height: 108%;
  z-index: 0;
}
/* line 374, ../sass/main.scss */
.programm_slide .path_2 {
  top: 8.5%;
  left: 36%;
  width: 6%;
}
/* line 379, ../sass/main.scss */
.programm_slide .path_3 {
  top: 2.5%;
  left: 58%;
  height: 12%;
}

/* line 387, ../sass/main.scss */
.additional_slide .addtitional_bg {
  width: 100%;
  height: 100%;
  background: url(../img/bg_3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
/* line 396, ../sass/main.scss */
.additional_slide img {
  position: absolute;
  height: auto;
  z-index: 1;
}
/* line 401, ../sass/main.scss */
.additional_slide .wave_2 {
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 406, ../sass/main.scss */
.additional_slide .path_5 {
  top: 8%;
  left: 33%;
  height: 102%;
  position: absolute;
}
/* line 411, ../sass/main.scss */
.additional_slide .path_5 .path_inner {
  position: relative;
  height: 100%;
  width: auto;
}
/* line 417, ../sass/main.scss */
.additional_slide .cloud_4 {
  top: 7%;
  left: -10%;
  width: 33%;
  position: absolute;
}
/* line 422, ../sass/main.scss */
.additional_slide .cloud_4 img {
  width: 100%;
  height: auto;
}
/* line 427, ../sass/main.scss */
.additional_slide .cloud_5 {
  top: 15%;
  left: 53%;
  width: 21%;
  position: absolute;
}
/* line 432, ../sass/main.scss */
.additional_slide .cloud_5 img {
  width: 100%;
  height: auto;
}
/* line 437, ../sass/main.scss */
.additional_slide .cloud_6 {
  top: 28%;
  left: 1%;
  width: 22%;
  position: absolute;
}
/* line 442, ../sass/main.scss */
.additional_slide .cloud_6 img {
  width: 100%;
  height: auto;
}
/* line 447, ../sass/main.scss */
.additional_slide .cloud_7 {
  top: 33%;
  left: 47%;
  width: 34%;
  position: absolute;
}
/* line 452, ../sass/main.scss */
.additional_slide .cloud_7 img {
  width: 100%;
  height: auto;
}
/* line 457, ../sass/main.scss */
.additional_slide .cloud_8 {
  bottom: 54%;
  left: -8%;
  width: 34%;
  position: absolute;
}
/* line 462, ../sass/main.scss */
.additional_slide .cloud_8 img {
  width: 100%;
  height: auto;
}
/* line 467, ../sass/main.scss */
.additional_slide .cloud_9 {
  bottom: 47%;
  right: 16%;
  width: 24%;
  position: absolute;
}
/* line 472, ../sass/main.scss */
.additional_slide .cloud_9 img {
  width: 100%;
  height: auto;
}
/* line 477, ../sass/main.scss */
.additional_slide .cloud_10 {
  bottom: 34%;
  left: 35%;
  width: 24%;
  position: absolute;
}
/* line 482, ../sass/main.scss */
.additional_slide .cloud_10 img {
  width: 100%;
  height: auto;
}
/* line 487, ../sass/main.scss */
.additional_slide .ball_1 {
  position: absolute;
  top: 17%;
  right: 23%;
  width: 7%;
}
/* line 493, ../sass/main.scss */
.additional_slide .ball_2 {
  position: absolute;
  bottom: 5%;
  left: 20%;
  width: 6%;
}
/* line 499, ../sass/main.scss */
.additional_slide .ball_3 {
  position: absolute;
  bottom: 44%;
  right: 19%;
  width: 5%;
}
/* line 505, ../sass/main.scss */
.additional_slide .ballon_4 {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 7%;
}

/* line 513, ../sass/main.scss */
.map_slide {
  background: url(../img/pattern.jpg) repeat;
  position: relative;
}
/* line 516, ../sass/main.scss */
.map_slide .header_label {
  color: #000000;
}
/* line 519, ../sass/main.scss */
.map_slide img {
  position: absolute;
  height: auto;
  z-index: 1;
}
/* line 524, ../sass/main.scss */
.map_slide .button_2 {
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: 1000;
}
/* line 529, ../sass/main.scss */
.map_slide .button_2 .icon {
  position: relative;
  width: 14px;
  height: 7px;
  background: url(../img/arrow_2.png) no-repeat;
  display: inline-block;
  top: -1px;
  left: 4px;
}
/* line 539, ../sass/main.scss */
.map_slide .map {
  width: 64%;
  left: 18%;
  top: 16%;
  position: absolute;
}
/* line 544, ../sass/main.scss */
.map_slide .map img {
  width: 100%;
  height: auto;
  position: relative;
}
/* line 549, ../sass/main.scss */
.map_slide .map div {
  position: absolute;
  width: 3%;
}
/* line 553, ../sass/main.scss */
.map_slide .map .number {
  display: block;
}
/* line 557, ../sass/main.scss */
.map_slide .map .item {
  display: none;
  margin: 0 auto;
  width: 185%;
}
/* line 562, ../sass/main.scss */
.map_slide .map .first {
  bottom: 20%;
  right: 54%;
}
/* line 566, ../sass/main.scss */
.map_slide .map .second {
  bottom: 20%;
  right: 44%;
}
/* line 569, ../sass/main.scss */
.map_slide .map .second .item {
  width: 200%;
}
/* line 573, ../sass/main.scss */
.map_slide .map .third {
  bottom: 40%;
  right: 49%;
}
/* line 576, ../sass/main.scss */
.map_slide .map .third .item {
  width: 540%;
}
/* line 580, ../sass/main.scss */
.map_slide .map .fourth {
  top: 25%;
  left: 46%;
}
/* line 584, ../sass/main.scss */
.map_slide .map .fifth {
  top: 15%;
  left: 36%;
}
/* line 587, ../sass/main.scss */
.map_slide .map .fifth .item {
  width: 540%;
}
/* line 591, ../sass/main.scss */
.map_slide .map .sixth {
  top: 12%;
  left: 19%;
}
/* line 594, ../sass/main.scss */
.map_slide .map .sixth .item {
  width: 540%;
}
/* line 598, ../sass/main.scss */
.map_slide .map .seventh {
  top: 31%;
  left: 33%;
}
/* line 601, ../sass/main.scss */
.map_slide .map .seventh .item {
  width: 550%;
}
/* line 605, ../sass/main.scss */
.map_slide .map .eighth {
  top: 33%;
  left: 52%;
}
/* line 608, ../sass/main.scss */
.map_slide .map .eighth .item {
  width: 320%;
}
/* line 612, ../sass/main.scss */
.map_slide .map .ninth {
  top: 41%;
  right: 40%;
}
/* line 615, ../sass/main.scss */
.map_slide .map .ninth .item {
  width: 560%;
}
/* line 619, ../sass/main.scss */
.map_slide .map .tenth {
  top: 14%;
  right: 9%;
}
/* line 622, ../sass/main.scss */
.map_slide .map .tenth .item {
  width: 500%;
}
/* line 626, ../sass/main.scss */
.map_slide .map .eleventh {
  top: 33%;
  right: 12%;
}
/* line 630, ../sass/main.scss */
.map_slide .map .twelfth {
  bottom: 54%;
  left: 5%;
}
/* line 636, ../sass/main.scss */
.map_slide .wave_3 {
  width: 100%;
  bottom: 0;
  left: 0;
}
/* line 641, ../sass/main.scss */
.map_slide .map_table {
  position: absolute;
  right: 15%;
  z-index: 10;
  bottom: 10%;
}
/* line 646, ../sass/main.scss */
.map_slide .map_table .table_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000000;
  opacity: 0.5;
}
/* line 654, ../sass/main.scss */
.map_slide .map_table table {
  margin: 10px;
  color: #ffffff;
  z-index: 10;
  position: relative;
}
/* line 659, ../sass/main.scss */
.map_slide .map_table table td {
  padding: 5px 10px 5px 10px;
  font-family: "Open Sans";
  font-size: 14px;
  cursor: hand;
}
/* line 665, ../sass/main.scss */
.map_slide .map_table table td.number:hover {
  transition: all 0.5s;
  background: #ffffff;
  color: #000000;
}
/* line 670, ../sass/main.scss */
.map_slide .map_table table td.number.active {
  background: #ffffff;
  color: #000000;
}

/* line 680, ../sass/main.scss */
.arrow_3 {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: url(../img/arrow_3.png) no-repeat;
  width: 87px;
  height: 106px;
  display: block;
  z-index: 1000;
}

/* line 691, ../sass/main.scss */
.slider_switcher {
  padding: 0;
  margin: 0;
  list-style: none;
  position: fixed;
  top: 37%;
  left: 20px;
  z-index: 1000;
}
/* line 700, ../sass/main.scss */
.slider_switcher li a {
  margin: 10px 0 0 0;
  width: 10px;
  height: 10px;
  display: block;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: grey;
  opacity: 0.5;
}
/* line 708, ../sass/main.scss */
.slider_switcher li a.active, .slider_switcher li a:hover {
  opacity: 1;
}

/* line 715, ../sass/main.scss */
.rules_slide {
  background: url(../img/pattern_2.png) repeat;
}
/* line 717, ../sass/main.scss */
.rules_slide .menu {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
  text-align: center;
}
/* line 722, ../sass/main.scss */
.rules_slide .menu li {
  cursor: hand;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  font-family: "Open Sans Condensed";
  font-style: italic;
  font-size: 22px;
  color: #35532d;
}
/* line 730, ../sass/main.scss */
.rules_slide .menu li.active {
  border: 1px solid #35532d;
  padding: 4px 9px 4px 9px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
/* line 734, ../sass/main.scss */
.rules_slide .menu li.active.attention {
  border: 1px solid #d80000;
}
/* line 738, ../sass/main.scss */
.rules_slide .menu li:hover {
  border: 1px solid #35532d;
  padding: 4px 9px 4px 9px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
/* line 743, ../sass/main.scss */
.rules_slide .menu li.attention {
  color: #d80000;
}
/* line 745, ../sass/main.scss */
.rules_slide .menu li.attention:hover {
  border: 1px solid #d80000;
  padding: 4px 9px 4px 9px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
/* line 753, ../sass/main.scss */
.rules_slide .articles {
  padding: 0;
  margin: 40px 0 0 0;
}
/* line 756, ../sass/main.scss */
.rules_slide .articles li {
  font-family: "Open Sans Condensed";
  font-size: 22px;
  text-align: center;
  color: #000000;
  line-height: 26px;
  display: none;
}

/* line 768, ../sass/main.scss */
.timetable_slide .text {
  margin: 40px 0 0 0;
  font-family: "Open Sans Condensed";
  font-size: 18px;
  text-align: center;
  color: #000000;
  line-height: 150%;
}
/* line 776, ../sass/main.scss */
.timetable_slide .wave_5 {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* line 784, ../sass/main.scss */
.children_slide {
  background: url(../img/pattern_2.png) repeat;
}
/* line 786, ../sass/main.scss */
.children_slide .text {
  margin: 40px 0 0 0;
  font-family: "Open Sans Condensed";
  font-size: 22px;
  text-align: center;
  color: #000000;
  line-height: 150%;
}
/* line 794, ../sass/main.scss */
.children_slide .wave_5 {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* line 802, ../sass/main.scss */
.artist_slide {
  background-color: #1d0140;
}
/* line 804, ../sass/main.scss */
.artist_slide .header_label {
  color: #ffffff;
}
/* line 807, ../sass/main.scss */
.artist_slide .artist_list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 70%;
  height: 72%;
  left: 15%;
  top: 15%;
  position: absolute;
}
/* line 816, ../sass/main.scss */
.artist_slide .artist_list li {
  width: 33.33333334%;
  height: 50%;
  padding: 15px 15px 0 15px;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  cursor: hand;
  position: relative;
  transition: all 0.5s;
}
/* line 827, ../sass/main.scss */
.artist_slide .artist_list li .about {
  font-family: "Open Sans Condensed";
  font-size: 22px;
  font-style: italic;
  color: #ffffff;
  top: 45%;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}
/* line 839, ../sass/main.scss */
.artist_slide .artist_list li .about a {
  color: #0099cc;
  display: block;
}
/* line 844, ../sass/main.scss */
.artist_slide .artist_list li:hover {
  transition: all 0.5s;
  padding: 0;
}
/* line 847, ../sass/main.scss */
.artist_slide .artist_list li:hover .artist_bg {
  transition: all 0.5s;
  opacity: 0;
}
/* line 852, ../sass/main.scss */
.artist_slide .artist_list li img {
  width: 100%;
  height: auto;
}
/* line 856, ../sass/main.scss */
.artist_slide .artist_list li .artist_bg {
  transition: all 0.5s;
  background-color: #230922;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 864, ../sass/main.scss */
.artist_slide .artist_list li .cnt {
  width: auto;
  height: auto;
  position: relative;
}
/* line 871, ../sass/main.scss */
.artist_slide .wave_6 {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* line 879, ../sass/main.scss */
.contacts_slide {
  background: url(../img/pattern_2.png) repeat;
}
/* line 881, ../sass/main.scss */
.contacts_slide .text {
  margin-top: 15px;
  font-size: 18px;
}
/* line 885, ../sass/main.scss */
.contacts_slide .contact_list {
  margin: 10px 0 10px 0;
}
/* line 887, ../sass/main.scss */
.contacts_slide .contact_list li {
  margin: 0 0 10px 0;
  line-height: 22px;
}
/* line 890, ../sass/main.scss */
.contacts_slide .contact_list li .place {
  color: #0099cc;
  text-decoration: underline;
}
/* line 896, ../sass/main.scss */
.contacts_slide .info {
  font-size: 22px;
}
/* line 898, ../sass/main.scss */
.contacts_slide .info .yandex_map {
  width: 100%;
  height: 50%;
  margin-top: 15px;
  background: grey;
}

/* line 907, ../sass/main.scss */
.smi_slide {
  background: url(../img/pattern_2.png) repeat;
}
/* line 909, ../sass/main.scss */
.smi_slide .header_label {
  color: #d80000;
}
/* line 912, ../sass/main.scss */
.smi_slide .text {
  margin: 40px 0 0 0;
  font-family: "Open Sans Condensed";
  font-size: 17px;
  color: #000000;
  line-height: 150%;
}

/* line 922, ../sass/main.scss */
.cloud_animation {
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: shake-1;
  animation-name: shake-1;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes shake-1 {
  0%, 100% {
    -webkit-transform: translate(0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(-8px, 8px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate(8px, -8px);
  }
}
@keyframes shake-1 {
  0%, 100% {
    transform: translate(0, 0);
  }
  10%, 50%, 90% {
    -webkit-transform: translate(-8px, 8px);
  }
  30%, 70% {
    -webkit-transform: translate(8px, 8px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate(8px, -8px);
  }
}
/* line 950, ../sass/main.scss */
.logo_2 {
  position: absolute;
  left: 16%;
  bottom: 25%;
  width: 14%;
}

/* line 957, ../sass/main.scss */
.copyright {
  width: 100px;
  height: auto;
  position: absolute;
  bottom: 5%;
  right: 10%;
}
