/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "http://webfonts.ru/import/osans.css";
@import "http://webfonts.ru/import/lobster.css";
/* line 5, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/dm_css_grid.scss */
.g_row:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

/* line 26, ../sass/dm_css_grid.scss */
.section {
  width: 100%;
}

/* line 31, ../sass/dm_css_grid.scss */
.g_row {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}
/* line 45, ../sass/dm_css_grid.scss */
.g_row [class*=g_col_] {
  float: left;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
  min-height: 1px;
}

@media screen and (min-width: 1024px) {
  /* line 57, ../sass/dm_css_grid.scss */
  [class*=g_col_] {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 62, ../sass/dm_css_grid.scss */
  .g_col_d_1 {
    width: 8.33333333%;
  }

  /* line 66, ../sass/dm_css_grid.scss */
  .g_col_d_2 {
    width: 16.66666667%;
  }

  /* line 70, ../sass/dm_css_grid.scss */
  .g_col_d_3 {
    width: 25%;
  }

  /* line 74, ../sass/dm_css_grid.scss */
  .g_col_d_4 {
    width: 33.33333333%;
  }

  /* line 78, ../sass/dm_css_grid.scss */
  .g_col_d_5 {
    width: 41.66666667%;
  }

  /* line 82, ../sass/dm_css_grid.scss */
  .g_col_d_6 {
    width: 50%;
  }

  /* line 86, ../sass/dm_css_grid.scss */
  .g_col_d_7 {
    width: 58.33333333%;
  }

  /* line 90, ../sass/dm_css_grid.scss */
  .g_col_d_8 {
    width: 66.66666667%;
  }

  /* line 94, ../sass/dm_css_grid.scss */
  .g_col_d_9 {
    width: 75%;
  }

  /* line 98, ../sass/dm_css_grid.scss */
  .g_col_d_10 {
    width: 83.33333333%;
  }

  /* line 102, ../sass/dm_css_grid.scss */
  .g_col_d_11 {
    width: 91.66666667%;
  }

  /* line 106, ../sass/dm_css_grid.scss */
  .g_col_d_12 {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 115, ../sass/dm_css_grid.scss */
  [class*=g_col_] {
    padding-left: 4px;
    padding-right: 4px;
  }

  /* line 120, ../sass/dm_css_grid.scss */
  .g_col_m_1 {
    width: 8.33333333%;
  }

  /* line 124, ../sass/dm_css_grid.scss */
  .g_col_m_2 {
    width: 16.66666667%;
  }

  /* line 128, ../sass/dm_css_grid.scss */
  .g_col_m_3 {
    width: 25%;
  }

  /* line 132, ../sass/dm_css_grid.scss */
  .g_col_m_4 {
    width: 33.33333333%;
  }

  /* line 136, ../sass/dm_css_grid.scss */
  .g_col_m_5 {
    width: 41.66666667%;
  }

  /* line 140, ../sass/dm_css_grid.scss */
  .g_col_m_6 {
    width: 50%;
  }

  /* line 144, ../sass/dm_css_grid.scss */
  .g_col_m_7 {
    width: 58.33333333%;
  }

  /* line 148, ../sass/dm_css_grid.scss */
  .g_col_m_8 {
    width: 66.66666667%;
  }

  /* line 152, ../sass/dm_css_grid.scss */
  .g_col_m_9 {
    width: 75%;
  }

  /* line 156, ../sass/dm_css_grid.scss */
  .g_col_m_10 {
    width: 83.33333333%;
  }

  /* line 160, ../sass/dm_css_grid.scss */
  .g_col_m_11 {
    width: 91.66666667%;
  }

  /* line 164, ../sass/dm_css_grid.scss */
  .g_col_m_12 {
    width: 100%;
  }
}
/* line 44, ../sass/mobile.scss */
.g_row {
  width: 100% !important;
}
/* line 46, ../sass/mobile.scss */
.g_row .g_col_d_12, .g_row .g_col_m_12 {
  padding-right: 0;
  padding-left: 0;
}

/* line 51, ../sass/mobile.scss */
.button {
  position: absolute;
  bottom: 15%;
  background: #194772;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Lobster';
  color: #ffffff;
  text-align: center;
  padding: 4% 0 4% 0;
  cursor: hand;
  width: 50%;
  left: 25%;
  font-size: 20px;
}
/* line 64, ../sass/mobile.scss */
.button .bg {
  position: absolute;
  background: #2e6293;
  top: 4%;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  z-index: -1;
}
/* line 73, ../sass/mobile.scss */
.button:hover {
  background: #2e6293;
}
/* line 75, ../sass/mobile.scss */
.button:hover .bg {
  background: #194772;
}

/* line 80, ../sass/mobile.scss */
.menu_bg {
  background: #194772;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 95;
  display: none;
}

/* line 89, ../sass/mobile.scss */
.slider_anchor {
  position: absolute;
  top: -50px;
}

/* line 93, ../sass/mobile.scss */
.menu_list {
  position: fixed;
  top: 50px;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 100;
  display: none;
}
/* line 102, ../sass/mobile.scss */
.menu_list li {
  display: block;
  outline: 1px solid #0099cc;
  padding: 15px;
  background-color: #194772;
}
/* line 107, ../sass/mobile.scss */
.menu_list li a {
  text-decoration: none;
  color: #ffffff;
  width: 200px;
  font-family: "Open Sans Condensed";
}

/* line 116, ../sass/mobile.scss */
.header_label {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 120, ../sass/mobile.scss */
.header_label .content {
  font-family: "Open Sans Condensed";
  color: #2e6293;
  font-size: 24px;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #ffffff;
  text-align: center;
}
/* line 129, ../sass/mobile.scss */
.header_label .wave {
  background: url(../img/mobile/wave.png) no-repeat;
  width: 100%;
  height: 27px;
  background-size: cover;
}

/* line 137, ../sass/mobile.scss */
body {
  position: relative;
}

/* line 141, ../sass/mobile.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: white;
  height: 50px;
}
/* line 148, ../sass/mobile.scss */
header .menu {
  width: 50px;
  height: 50px;
  background: url(../img/mobile/menu.png) no-repeat;
}
/* line 153, ../sass/mobile.scss */
header .contacts {
  padding: 18px 0 0 0;
  position: relative;
}
/* line 156, ../sass/mobile.scss */
header .contacts .icon {
  position: relative;
  background: url(../img/phone.png) no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  top: 2px;
}
/* line 164, ../sass/mobile.scss */
header .contacts a {
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans";
  color: #000000;
  text-decoration: none;
}
/* line 172, ../sass/mobile.scss */
header .logo {
  width: 128px;
  height: 38px;
  background: url(../img/logo_small.png) no-repeat;
  margin: 8px 10px 0 auto;
  display: block;
}

/* line 181, ../sass/mobile.scss */
b {
  font-weight: bold;
}

/* line 185, ../sass/mobile.scss */
.begin_slide {
  z-index: 2;
}
/* line 187, ../sass/mobile.scss */
.begin_slide img {
  width: 100%;
  height: auto;
}
/* line 190, ../sass/mobile.scss */
.begin_slide .down_arrow {
  width: 19%;
  right: 3%;
  bottom: 11%;
  z-index: 2;
  position: absolute;
}
/* line 197, ../sass/mobile.scss */
.begin_slide .up_arrow {
  position: absolute;
  width: 19%;
  left: 3%;
  bottom: 15%;
  z-index: 2;
}

/* line 206, ../sass/mobile.scss */
.programm_slide {
  position: relative;
  height: 1200px;
  overflow: hidden;
  background-color: #94cdf8;
}
/* line 211, ../sass/mobile.scss */
.programm_slide img {
  position: absolute;
}
/* line 214, ../sass/mobile.scss */
.programm_slide .cloud_11 {
  width: 60%;
  left: 20%;
  z-index: 5;
  top: 0;
}
/* line 220, ../sass/mobile.scss */
.programm_slide .cloud_1 {
  width: 70%;
  left: 15%;
  z-index: 3;
  top: 52px;
}
/* line 226, ../sass/mobile.scss */
.programm_slide .cloud_2 {
  width: 60%;
  z-index: 3;
  left: 30%;
  top: 143px;
}
/* line 232, ../sass/mobile.scss */
.programm_slide .ballon_2 {
  width: 60%;
  z-index: 2;
  left: 12%;
  top: 175px;
}
/* line 238, ../sass/mobile.scss */
.programm_slide .ballon_3 {
  width: 112%;
  z-index: 2;
  left: 19%;
  top: 385px;
}
/* line 244, ../sass/mobile.scss */
.programm_slide .cloud_3 {
  position: relative;
  width: 60%;
  z-index: 3;
  left: 20%;
  bottom: 285px;
}
/* line 251, ../sass/mobile.scss */
.programm_slide .ballon_1 {
  width: 45%;
  z-index: 2;
  left: 5%;
  bottom: 0;
}
/* line 257, ../sass/mobile.scss */
.programm_slide .cloud_bg {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../img/mobile/cloud_bg.png) repeat-y;
  background-size: cover;
}

/* line 266, ../sass/mobile.scss */
.additional_slide {
  position: relative;
  padding-top: 60px;
}
/* line 269, ../sass/mobile.scss */
.additional_slide .cloud_bg {
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url(../img/mobile/cloud_bg.png) repeat-y;
  background-size: cover;
  position: absolute;
  top: 0;
}
/* line 278, ../sass/mobile.scss */
.additional_slide .header_label {
  z-index: 1;
}
/* line 281, ../sass/mobile.scss */
.additional_slide ul {
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1;
  position: relative;
  margin-top: 15px;
  padding-bottom: 25px;
}
/* line 289, ../sass/mobile.scss */
.additional_slide ul li {
  width: 100%;
  padding: 15px 0 15px 0;
  text-align: center;
  font-family: "Open Sans Condensed";
  font-size: 20px;
  font-style: italic;
  color: #000000;
  position: relative;
}
/* line 298, ../sass/mobile.scss */
.additional_slide ul li .wave_10 {
  position: absolute;
  width: 75px;
  height: 11px;
  background: url(../img/mobile/wave_10.png) no-repeat;
}
/* line 304, ../sass/mobile.scss */
.additional_slide ul li .left {
  left: 20px;
  top: 25px;
}
/* line 308, ../sass/mobile.scss */
.additional_slide ul li .right {
  right: 20px;
  top: 25px;
}

/* line 316, ../sass/mobile.scss */
.map_slide {
  padding-top: 50px;
  position: relative;
}
/* line 319, ../sass/mobile.scss */
.map_slide img {
  width: 100%;
  height: auto;
}

/* line 325, ../sass/mobile.scss */
.rules_slide {
  padding-top: 60px;
  position: relative;
}
/* line 328, ../sass/mobile.scss */
.rules_slide .text_switcher {
  padding: 15px 25px 15px 25px;
  text-align: center;
}
/* line 331, ../sass/mobile.scss */
.rules_slide .text_switcher li {
  padding: 10px 0 10px 0;
  position: relative;
}
/* line 334, ../sass/mobile.scss */
.rules_slide .text_switcher li .label {
  font-family: "Open Sans Condensed";
  font-size: 24px;
  font-style: italic;
  text-decoration: underline;
  color: #0099cc;
}
/* line 340, ../sass/mobile.scss */
.rules_slide .text_switcher li .label.attention {
  color: #d80000;
}
/* line 344, ../sass/mobile.scss */
.rules_slide .text_switcher li .text {
  font-family: "Open Sans Condensed";
  font-size: 20px;
  padding: 15px 0 15px 0;
  color: #000000;
  text-align: left;
  line-height: 24px;
  display: none;
}
/* line 354, ../sass/mobile.scss */
.rules_slide .text_switcher li.active .label {
  color: #000000;
  text-decoration: none;
}
/* line 358, ../sass/mobile.scss */
.rules_slide .text_switcher li.active .text {
  display: block;
}

/* line 366, ../sass/mobile.scss */
.persons_slide {
  padding-top: 45px;
  position: relative;
}
/* line 369, ../sass/mobile.scss */
.persons_slide ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 373, ../sass/mobile.scss */
.persons_slide ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
/* line 378, ../sass/mobile.scss */
.persons_slide ul li .text {
  position: absolute;
  font-family: "Open Sans Condensed";
  font-style: italic;
  width: 100%;
  text-align: center;
  top: 40%;
}
/* line 385, ../sass/mobile.scss */
.persons_slide ul li .text .label {
  font-size: 26px;
  color: #ffffff;
}
/* line 389, ../sass/mobile.scss */
.persons_slide ul li .text .link {
  font-size: 20px;
  color: #0099cc;
}
/* line 394, ../sass/mobile.scss */
.persons_slide ul li img {
  width: 100%;
  height: auto;
}

/* line 402, ../sass/mobile.scss */
.text_slide {
  padding-top: 60px;
  position: relative;
}
/* line 405, ../sass/mobile.scss */
.text_slide .text {
  padding: 15px 25px 15px 25px;
  font-family: "Open Sans Condensed";
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
/* line 411, ../sass/mobile.scss */
.text_slide .text .link {
  color: #0099cc;
}
/* line 414, ../sass/mobile.scss */
.text_slide .text .contacts {
  padding: 10px 0 0 0;
  font-size: 18px;
  line-height: 28px;
}
/* line 418, ../sass/mobile.scss */
.text_slide .text .contacts .place {
  color: #0099cc;
  text-decoration: underline;
}

/* line 426, ../sass/mobile.scss */
.copyright {
  width: 100px;
  height: auto;
  margin: 0 0 10px 10px;
}
